= content_for(:title, @document.title)
.row
  .col-md-8
    %main
      .document
        #js-document{data: {document_id: @document.id}}

        .document__frame
          - @document.rows.each do |row|
            %p{id: row.id, data: { id: row.id }, class: 'js-document__row'}= row.content
          = text_field_tag :row_text_box, '', class: 'js-document__row-text-box document__row-text-box document__row-text-box--hide'
  .col-md-4
    %aside
      = render 'sidebar'

